:root {
  --black: #272a31;
  --orange: #ec5242;
  --gray: #d3d3d3;
  --dark-gray: rgb(53, 49, 49);
}

.container {
  margin: 0 auto;
  width: 90%;
}

html, 
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

.header-background {
  background-image: url('./img/header-background2.jpg');
  background-position: center;
  background-size: cover;
  padding: 2rem;
}

.header__h1, 
.header__h3,
.about-header__h1,
.about-header__h3{
  color: var(--orange);
}

.header__h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.about-header__h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}

.header__h3 {
  font-weight: 100;
  margin: 0;
  font-size: 3rem;
  margin-top: 2rem;
}

.about-header__h3 {
  font-weight: 100;
  margin: 0;
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
}

.header__text-box {
  background-color: var(--gray);
  padding: 2rem;
  border: 2px solid #fff;
  font-size: 1.6rem;
  color: rgb(53, 49, 49);
}

.about-header__text-box {
  background-color: #fff;
  padding: 2rem;
  border: 2px solid var(--gray);
  font-size: 1.6rem;
  color: var(--dark-gray);
}

.header__contact-us {
  text-align: center;
  color: var(--dark-gray);
  font-size: 1.6rem;
  line-height: 1.5;
}

.header__mail{
  color: var(--dark-gray);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
}

.header__text-box p {
  margin: 0;
}

.header__date {
  color: var(--dark-gray);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.header__place {
  color: var(--dark-gray);
  font-size: 2rem;
  font-weight: 700;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.program { 
  background-image: url('./img/black-texture.png');
  width: 100%;
  padding: 3rem 2rem;
}

.subtitle {
  color: #fff;
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}

.subtitle-black {
  color: var(--black);
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}

.subtitle__line {
  border: 1px solid var(--orange);
  margin: 0 auto;
  width: 5rem;
}

.program__card {
  background-color: rgba(256,256,256, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 1rem;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

.program__card__title {
  color: var(--orange);
  font-size: 2.5rem;
}

.program__card__description {
  color: #fff;
  font-size: 1.7rem;
}

.program__card__icon {
  color: #fff;
}

.program__join-button {
  background-color: var(--orange);
  max-width: 70%;
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.footer {
  background-color: var(--black);
  padding: 2rem ;
}

.footer__logo-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.footer__logo {
  width: 7rem;
  max-width: 100%;
  filter: grayscale(100%);
}

.mozilla {
  flex-basis: 160px;
}

.license {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 2rem 0;
}

.license__logo {
  width: 18rem;
}

.license__text {
  font-size: 1.5rem;
}

.speakers {
  padding: 2rem 0;
}

.black-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 70%;
  height: 100px;
  z-index: 1;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.speakers__card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin: 0 auto;
  width: 48rem;
  max-width: 100%;
  height: 17rem;
}

.speakers__card__images {
  position: relative;
}

.speakers__card__img {
  position: relative;
  bottom: 90px;
  left: 13px;
  z-index: 2;
  margin-right: 20px;
  width: 90%;
  min-width: 100px;
} 

.speakers__cards-container {
  padding: 1rem 2rem;
}

.speakers__card__name {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 0;
}

.speakers__card__studies {
  color: var(--orange);
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 2px;
  
}

.speakers__card__line {
  border: 1px solid var(--gray);
  width: 20px;
  margin-left: 0;
}

.speakers__card__description {
  font-size: 1.5rem;
  color: var(--black);
}

.speakers__more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--gray);
  width: 90%;
  margin: 0 auto;
}

.speakers__more p{
  font-size: 1.5rem;
}

.speakers__more span{
  color: var(--orange);
}

/* About */

.about {
  padding: 2rem 0;
}

.about__logo-description {
  max-width: 90%;
  margin: 2rem auto;
}

.about__logo-container {
  display: flex;
  justify-content: center;
  border: 1px solid var(--gray);
}

.about__logo-container img {
  width: 30rem;
}

.past-editions {
  border-top: 1px solid var(--gray);
  padding: 2rem 0;
  position: relative;
}

.past-editions__card__img {
  width: 100%;
  z-index: 1;
  width: 350px;
  max-width: 100%;
  margin: 0 auto;
}

.past-editions__card1 {
  background-image: url('./img/conference1.png');
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.past-editions__card2 {
  background-image: url('./img/conference2.png');
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.past-editions__year {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.past-editions__description {
  font-size: 1.8rem;
  margin: 0;
}
